In [86]:
import os 
from geopy.geocoders import Nominatim
import pandas as pd
import numpy as np
import math

Access the zip-code and landmarks data from students prepares file [assuming it is cleaned and prepared well]

In [87]:
df_landmark_zip = pd.read_csv('/Users/raman/JupyterNotebooks/Comparison_Multivariate/dataset/DivvyBikes/data-from-cdl-students/landmark_clean.csv', 
                              usecols=['zip_code','landmarks'])
df_landmark_zip.columns

Index(['zip_code', 'landmarks'], dtype='object')

Access the station ID from the VAR data to be used for this use case

In [88]:
df_stations = pd.read_csv('/Users/raman/JupyterNotebooks/Comparison_Multivariate/dataset/DivvyBikes/df2021-8-9-10_VAR.csv', 
                          index_col='date')
stations = pd.Series(df_stations.columns)
df_station_id = pd.DataFrame(stations.rename("start_station_id"))
df_station_id

    start_station_id
0     13001_checkout
1     13006_checkout
2     13008_checkout
3     13011_checkout
4     13016_checkout
..               ...
195   16907_checkout
196   16912_checkout
197   16913_checkout
198   16915_checkout
199   16916_checkout

[200 rows x 1 columns]

Access the full dataset for Divvy bikes and save only the station ID and longitude-latitude information for the start station.

In [93]:
df_full = pd.read_csv('/Users/raman/JupyterNotebooks/Comparison_Multivariate/dataset/DivvyBikes/data-from-cdl-students/202108-divvy-tripdata_raw.csv',
                      low_memory=False,
                      #usecols=['start_station_id','start_lat', 'start_lng']
                       )

In [94]:
df_full = df_full.dropna()
df_full

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
30,DD06751C6019D865,classic_bike,2021-08-08 17:21:26,2021-08-08 17:25:37,Desplaines St & Kinzie St,TA1306000003,Kingsbury St & Kinzie St,KA1503000043,41.888716,-87.644448,41.889177,-87.638506,member
36,79973DC3B232048F,classic_bike,2021-08-27 08:53:52,2021-08-27 09:18:29,Larrabee St & Armitage Ave,TA1309000006,Michigan Ave & Oak St,13042,41.918084,-87.643749,41.900960,-87.623777,member
40,0249AD4B258806AD,classic_bike,2021-08-08 12:59:18,2021-08-08 12:59:55,Aberdeen St & Jackson Blvd,13157,Aberdeen St & Jackson Blvd,13157,41.877726,-87.654787,41.877726,-87.654787,member
72,F41EB054E44ACFDA,classic_bike,2021-08-12 16:52:09,2021-08-12 16:56:51,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,casual
121,B149E6C71A1C3B14,classic_bike,2021-08-23 15:33:04,2021-08-23 16:09:00,Michigan Ave & Oak St,13042,Michigan Ave & Oak St,13042,41.900960,-87.623777,41.900960,-87.623777,casual
...,...,...,...,...,...,...,...,...,...,...,...,...,...
804347,5E5C9CD681E0419C,classic_bike,2021-08-07 18:07:43,2021-08-07 18:21:21,Wells St & Evergreen Ave,TA1308000049,Lincoln Ave & Diversey Pkwy,TA1307000064,41.906724,-87.634830,41.932225,-87.658617,member
804348,96FB57CF4AA456F6,electric_bike,2021-08-09 08:49:31,2021-08-09 09:03:51,Broadway & Sheridan Rd,13323,Clark St & Lincoln Ave,13179,41.952709,-87.649940,41.915973,-87.634762,member
804349,226A0910DCCE904C,classic_bike,2021-08-12 16:55:57,2021-08-12 17:15:10,Dearborn St & Adams St,TA1305000005,Clark St & Lincoln Ave,13179,41.879356,-87.629791,41.915689,-87.634600,member
804350,1A97D27AE23DE1E7,classic_bike,2021-08-08 22:47:43,2021-08-08 23:08:12,Broadway & Sheridan Rd,13323,Clark St & Winnemac Ave,TA1309000035,41.952833,-87.649993,41.973348,-87.667855,casual
804351,BBC36E4AA3652361,electric_bike,2021-08-27 18:53:53,2021-08-27 19:02:16,Paulina Ave & North Ave,TA1305000037,Dayton St & North Ave,13058,41.909851,-87.669808,41.910674,-87.649547,casual

In [148]:
import pandas as pd
from geopy.geocoders import Nominatim
#from geopy.extra.rate_limiter import RateLimiter

# Assuming df2 has columns 'start_station_id', 'start_lat', 'start_lng'

# Initialize Nominatim API
geolocator = Nominatim(user_agent="Divvy-Bikes-Stations")

# Function to get zip code from lat-long
def get_zipcode(location_):
    try:
        location = geolocator.reverse(location_)
        return location.raw['address']['postcode']
    except:
        return None

df_full['lat_lng'] = df_full.apply(lambda row: f"{row['start_lat']}, {row['start_lng']}", axis=1)
df_full['zip_code'] = df_full.apply(lambda row: get_zipcode(row['lat_lng']), axis=1)

In [ ]:
df_full

'60654'

'41.888716036, -87.6444478533'