In [35]:
import os 
from geopy.geocoders import Nominatim
import pandas as pd
import numpy as np
import math

In [36]:
df_landmark_zip = pd.read_csv('/Users/raman/JupyterNotebooks/Comparison_Multivariate/dataset/DivvyBikes/data-from-cdl-students/landmark_clean.csv', 
                              usecols=['zip_code','landmarks'])
df_landmark_zip.columns

Index(['zip_code', 'landmarks'], dtype='object')

In [37]:
df_stations = pd.read_csv('/Users/raman/JupyterNotebooks/Comparison_Multivariate/dataset/DivvyBikes/df2021-8-9-10_VAR.csv', 
                          index_col='date')
stations = pd.Series(df_stations.columns)
df_station_id = pd.DataFrame(stations.rename("start_station_id"))
df_station_id["start_station_id"]  = df_station_id["start_station_id"].str.replace("_checkout","")
df_station_id

    start_station_id
0              13001
1              13006
2              13008
3              13011
4              13016
..               ...
195            16907
196            16912
197            16913
198            16915
199            16916

[200 rows x 1 columns]

In [67]:
df_station_id[df_station_id.start_station_id=="13075"]

   start_station_id
27            13075

In [38]:
df_full = pd.read_csv('/Users/raman/JupyterNotebooks/Comparison_Multivariate/dataset/DivvyBikes/data-from-cdl-students/202108-divvy-tripdata_raw.csv',
                      low_memory=False,
                      usecols=['start_station_id','start_lat', 'start_lng']
                       )

In [39]:
df_full[df_full.start_station_id=='13075']

       start_station_id  start_lat  start_lng
22968             13075  41.853085 -87.631931
26032             13075  41.853144 -87.631853
26033             13075  41.853085 -87.631931
26035             13075  41.853085 -87.631931
26345             13075  41.853200 -87.631851
...                 ...        ...        ...
761531            13075  41.853085 -87.631931
761533            13075  41.853085 -87.631931
761538            13075  41.853085 -87.631931
761540            13075  41.853085 -87.631931
761548            13075  41.853085 -87.631931

[1521 rows x 3 columns]

In [40]:
df_full = df_full.dropna()
df_full_skimmed  = df_full.groupby(['start_station_id']).median()
df_full_skimmed.shape

(726, 2)

In [41]:
df_full_skimmed[df_full_skimmed.index=='13075']

                  start_lat  start_lng
start_station_id
13075             41.853085 -87.631931

In [42]:
import pandas as pd
from geopy.geocoders import Nominatim
# Initialize Nominatim API
geolocator = Nominatim(user_agent="Divvy-Bikes-Stations")

# Function to get zip code from lat-long
def get_zipcode(location_):
    try:
        location = geolocator.reverse(location_)
        return location.raw['address']['postcode']
    except:
        return None

df_full_skimmed['lat_lng'] = df_full_skimmed.apply(lambda row: f"{row['start_lat']}, {row['start_lng']}", axis=1)

In [43]:
df_full_skimmed

                  start_lat  start_lng                                lat_lng
start_station_id
13001             41.883984 -87.624684    41.8839840647265, -87.6246839761734
13006             41.882664 -87.632530                   41.882664, -87.63253
13008             41.881032 -87.624084               41.8810317, -87.62408432
13011             41.879255 -87.639904                  41.879255, -87.639904
13016             41.894345 -87.622798  41.89434513742426, -87.62279838323593
...                     ...        ...                                    ...
TA1309000066      41.969090 -87.674237                   41.96909, -87.674237
TA1309000067      41.803038 -87.606615                  41.803038, -87.606615
WL-008            41.867118 -87.641088          41.8671177825, -87.6410879593
WL-011            41.880422 -87.642746                  41.880422, -87.642746
WL-012            41.883380 -87.641170                    41.88338, -87.64117

[726 rows x 3 columns]

In [57]:
df_full_skimmed['zip_code'] = df_full_skimmed.apply(lambda row: get_zipcode(row['lat_lng']), axis=1)

In [65]:
df_full_skimmed[df_full_skimmed.index=='13075']

Empty DataFrame
Columns: [start_lat, start_lng, lat_lng, zip_code]
Index: []

In [66]:
df_full_skimmed

,start_lat,start_lng,lat_lng,zip_code
start_station_id,,,,
13001,41.883984,-87.624684,"41.8839840647265, -87.6246839761734",60602
13006,41.882664,-87.632530,"41.882664, -87.63253",60696
13008,41.881032,-87.624084,"41.8810317, -87.62408432",60602
13011,41.879255,-87.639904,"41.879255, -87.639904",60606
13016,41.894345,-87.622798,"41.89434513742426, -87.62279838323593",60611
...,...,...,...,...
TA1309000066,41.969090,-87.674237,"41.96909, -87.674237",60640
TA1309000067,41.803038,-87.606615,"41.803038, -87.606615",60615
WL-008,41.867118,-87.641088,"41.8671177825, -87.6410879593",60605
WL-011,41.880422,-87.642746,"41.880422, -87.642746",60606
WL-012,41.883380,-87.641170,"41.88338, -87.64117",60661

In [45]:
df_full_skimmed_ = df_full_skimmed.dropna(inplace=True)

In [46]:
df_full_skimmed_['zip_code']  = df_full_skimmed_['zip_code'].astype(int)

In [56]:
df_full_skimmed_[df_full_skimmed_.index=='13075']

Empty DataFrame
Columns: [start_lat, start_lng, lat_lng, zip_code]
Index: []

In [49]:
df_final = df_full_skimmed_.reset_index().merge(df_landmark_zip, on="zip_code", how='left')

In [50]:
df_final = df_final.set_index("start_station_id").drop(columns=['start_lat', 'start_lng', 'lat_lng', ]).fillna(0)

In [51]:
df_final = df_final.reset_index()

In [52]:
df_static = df_final[df_final.reset_index().start_station_id.isin(df_station_id.start_station_id)]

## which station id is missing

In [53]:
set(df_station_id.start_station_id.to_list())  - set(df_final.start_station_id.to_list())

{'13075'}

In [85]:
missing_row = pd.DataFrame({'start_station_id': ['13075'], 'zip_code': [60647], 'landmarks':[5]}, index=[27])
top_=df_static[:27]
bottom_=df_static[27:]
df_static_no_missing = pd.concat([top_,missing_row, bottom_])

In [86]:
df_static_no_missing[df_static_no_missing.start_station_id=="13075"]

   start_station_id  zip_code  landmarks
27            13075     60647        5.0

In [91]:
# Write to a .npy file
np.save("divvy_static.npy", df_static_no_missing.landmarks.to_numpy())

DivvyDataPrepration.ipynb divvy_static.npy